html {
	background-color: #EDF3FF;
}

#app {
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;

}

ul > li {
	list-style: none;
}


#input {
	font-size: 22px;
}

.btn {
	background-color: #1D185E;
	color: #fff;
	font-size: 22px;
}


button {
	display: flex;
	justify-content: center;
}
